html,body {
  width: 97vw;
  height: 97vh;
}

#notely {
  height: inherit;
}

.notely-shell-main {
  height: inherit;
}

.notely-shell-body {
  border: 3px solid #000000;
  height: inherit;
  width: 85%;
  margin-left: 15px;
  float: left;
}
